# 泰坦尼克号存活率分析

# 数据相关


## 来源
数据来源于著名的数据分析竞赛网站Kaggle


## 规模
包括泰坦尼克号上 2224 名乘客和船员中 891 名的人口学数据和乘客基本信息。


## 数据字典

Survived：存活情况。1-存活，0-死亡。

Pclass：舱位等级。1-上层，2-中间层，3-底层。

Name：姓名

Sex：性别

Age：年龄

SibSp：同乘的兄弟姐妹/配偶数

Parch：同乘的父母/小孩数

Ticket：船票编号

Fare：船票价格

Cabin：客舱号

Embarked：登船港口。C：Cherbourg（瑟堡），Q：Queenstown（皇后镇），S：Southampton（南安普顿）。

# 提出问题

1. 探索舱室等级对存活率的影响
2. 探索性别对存活率的影响
3. 探索年龄对存活率的影响
4. 探索乘客间是兄弟姐妹/配偶关系的对存活率的影响
5. 探索乘客间是父母/小孩关系的对存活率的影响
7. 探索舱室等级与年龄的综合因素对存活率的影响

# 数据再加工

In [2]:
# 1. 数据采集

# 导入数据处理python库
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 导入原始数据
titanic_df = pd.read_csv("./titanic-data.csv")
# 显示样本数据的前五条信息
titanic_df.head()

ImportError: No module named pandas

In [ ]:
# 2 数据清理

# 数据探索

# 预测

# 交流